<div class="row g-3 mb-4 align-items-center">
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        [placeholder]="searchPlaceholder"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </div>
    <div class="col-md-4">
      <select
        class="form-select"
        [(ngModel)]="selectedStatus"
        (change)="onStatusChange($event)">
        @for (option of statusOptions; track option) {
          <option [value]="option.value">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
  </div>
  