<div class="container mt-4">
  <p-confirmDialog></p-confirmDialog>
  <div class="col-3">
    <p-button label="Add new Employee" icon="pi pi-plus" (onClick)="openAddEmployee()"></p-button>

  </div>
  <div class="row justify-content-center mt-3">
    <app-smart-filters
      [searchPlaceholder]="'Search employees...'"
      [statusOptions]="[
        { label: 'All', value: 'all' },
        { label: 'Active', value: 'active' },
        { label: 'Suspended', value: 'suspended' }
      ]"
      (filterChanged)="applyFilter($event)">
    </app-smart-filters>
  </div>

  @if (isLoading) {
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
  @if (!isLoading) {
    <div class="row justify-content-center">
      @for(employee of filteredEmployees; track employee.id) {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <app-employee-card
          [employee]="employee"
          (edit)="openEditEmployee($event)"
          (delete)="onDelete($event)">
        </app-employee-card>
        
        </div>
      }
    </div>
  }
  </div>
  